.kat-widget{
	/*
	padding: 15px;
	border: 2px solid;
	*/
	width: 100%;
	
	
	position: relative;
	
	
}
.kat-widget-button{
	margin-top: 15px;
	width:17%;

}
.prodimg{
	/*
	border: 2px double;
	border-radius: 25px;
	*/
	width: 100%;
	display: block;
	position: relative;


}